# Dev tools
.vscode/
__pycache__/

# Python virtual environment
/server/venv/

# Data and models (these might be generated during processing)
server/data/
server/models/
server/tasks/__pycache__


# Node modules and build files
/client/node_modules/
/client/.pnp/
/client/.pnp.js

# Next.js build outputs
/client/.next/
/client/out/
/client/build/

# Testing coverage
/client/coverage/

# Miscellaneous
/client/.DS_Store
/client/*.pem

# Debug logs
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Local environment files
/client/.env*.local

# Vercel configuration (optional if not using Vercel)
/client/.vercel/

# TypeScript build info
/client/*.tsbuildinfo
/client/next-env.d.ts

# TensorFlow cache or other large framework cache
~/.keras/
~/.tensorflow/

# Docker-related (optional if you don’t want to track image layers or containers)
/server/*.dockerfile
/docker-compose.yml

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.whl

# Remove Celery log files or Redis dumps
celerybeat-schedule
*.pid
*.rdb

# Cache
.cache/
*.log
